<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.fly.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <id property="id" column="ID"></id>
        <result property="username" column="USERNAME"></result>
    </resultMap>


    <select id="selectUser" parameterType="User" resultMap="userMap">
        select
          *
        from
          user
        where id = #{id}
    </select>
</mapper>